<% wrap_layout :layout do %>
<article class="hentry" itemscope itemtype="http://schema.org/BlogPosting">
  <% if !data.page.epigraph.nil? %>
    <blockquote class="epigraph"><p><%=data.page.epigraph %>
    </p></blockquote>
  <% end %>
  <header>
    <h2 class="entry-title" itemprop="name"><%= data.page.title %></h2>
  </header>

  <div class="entry-meta">
<% if !data.page.date_written.nil? %>
    <span>Written</span>
    <span><%= Date.parse(data.page.date_written).strftime('%B %e, %Y') %></span>
    <span>Published here</span>
<% end %>
    <span class="entry-date">
      <abbr class="published"><%= Date.parse(data.page.date).strftime('%B %e, %Y') %></abbr>
    </span>
    <span class="author vcard">
<% # The author can become a link again when there's a place to link to
%>
      By <%= data.page.author %>
    </span>
    <span class="cat-links">
      <%= partial "tags" %>
    </span>
  </div>

  <div class="entry-content" itemprop="articleBody">
    <%= yield %>
  </div>

  <footer>
    <div class="metadata">
    </div>
    <div class="nav-back">
      <a href="/" title="">â† <%= site.title %> index</a>
    </div>
  </footer>
</article>
<% end %>
